//primary colors
$Color-background-table: #F5F5F5;
$Color-background: #ffffff;
$Color-background-white: #FFF;
//$Color-primary-green: #B2C83D; 
$Color-primary-green: #003f83; 
$Color-primary-green-logo: #78cb39; 


$Color-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
$Border-radius: 5px;

// text colors
$Color-primary-accent: #000000;
$Color-primary-accent-gray: gray;


