//primary colors
$Color-background: #F5F5F5;
$Color-background-white: #FFF;
$Color-primary-green: #B2C83D; 


$Color-primary-green-light: #D7EEC3;
$Color-primary-blue: #38A1D9;

$Color-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);

// text colors
$Color-primary-accent: #000000;
$Color-primary-accent-gray: gray;


