@use "../../global/colors" as c;
@use "../../global/mixin" as m;

.main {
  padding: 20px;

  form {
    //@include m.globalForm();
    gap: 10px;
    display: flex;
    flex-direction: column;

    input,
    textarea {
      // @include m.globalInput();
      border: solid 1px rgba(128, 128, 128, 0.505);
      border: none;
      outline: none;
      padding-left: 2px;
      width: 100%;
      max-width: none;
      padding: 15px 10px;
    }

    button {
      @include m.globalButton(c.$Color-primary-green);
      margin-top: 50px;
    }

    .msg {
      color: red;
      margin-top: 10px;
      height: 10px;
    }
  }

  .inputLabel {
    font-size: .8rem;
    color: gray;
    transform: translate(0px,5px);
  }
}
