@use "../../global/colors" as c;
@use "../../global/mixin" as m;

.main {
  padding: 20px;

  form {
    @include m.globalFormContainer();
    button {
      @include m.globalButton(c.$Color-primary-green);
      margin-top: 50px;
    }
  }

  .inputLabel {
    display: flex;
    font-size: 12px;
    // margin-left: 10px;
    font-family: "Poppins", sans-serif;
  }
}
