@use "../../global/colors" as c;
@use "../../global/mixin" as m;

.main {
  margin-block: 20px;

  .topSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .left,
    .right {
      border-radius: c.$Border-radius;
      box-shadow: c.$Color-box-shadow;
      //max-width: 400px;
      padding: 20px;
      background-color: #ffffff;
      flex: 1 300px;
      font-size: 1.1rem;
      font-weight: 400;
      min-height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      small{
        color: gray
      }
    }
   
  }

  .tableContainer {
    @include m.globalTableContainer();
  }

}