.container {
  width: auto;
  //padding-top: 10px;
  //padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.titleHeader {
  text-align: center;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  // border: solid 1px gray;
  padding: 2px 2px;
}

.companyDetails {
  display: flex;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  justify-content: space-between;
  padding: 4px 6px;
}

.row {
  font-weight: 500;
}

.cell {
  padding-bottom: 4px;
}
