.footer {
  width: auto;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
}

.owner {
  padding: 20px 20px;
}

.client {
  padding-top: 120px;
}

.footer img {
  height: 40px;
  width: 100px;
  padding-left: 0;
  padding-bottom: 0;
}
