.main {

 // height: 100vh;

  //overflow: scroll;
  .container {
    .icon {
      cursor: pointer;
    }

    .box {
      //border: solid;
      background-color: white;
      display: none;
    }
  }
}