@use "../../global/colors" as c;
@use "../../global/mixin" as m;

.main {
  @include m.globalAllItemContainer();
  .createNewBtnContainer {
    display: flex;
    flex-direction: column;
    .createNewBtn{
      @include m.globalButton(c.$Color-primary-green);
    }
    .createNewBtnTxt{
      margin-top: 5px;
      color: c.$Color-primary-accent-gray;
    }
  }
}