@use "../global/colors" as c;
.main {
  display: flex;

  .left {
    width: 300px;
    //overflow-x: auto;
  }

  .right {
    flex: 1;
    overflow-x: auto;
    background-color: c.$Color-background;
  }
}